{% extends "layout_inv.html" %}
{% block content %}
<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <tr>
            <td><a class="mr-2">InSW</a></td>
            <td><a class="mr-2">SB</a></td>
            <td><a class="mr-2">OPM</a></td>
            <td><a class="mr-2">Pol</a></td>
         
        </tr>


        <form action="/plot" method="POST">            
            <select name= inSW method="POST" action="/">
                {%for x in inSW%}
                <option value= "{{x}}" SELECTED>{{x}}</option>
                {% endfor %}
            </select>
            <select name= SB method="POST" action="/">
                {%for x in sb%}
                <option value= "{{x}}" SELECTED>{{x}}</option>
                {% endfor %}
            </select>
            <select name= OPM method="POST" action="/">
                {%for x in opm%}
                <option value= "{{x}}" SELECTED>{{x}}</option>
                {% endfor %}
            </select>
            <select name= PolState method="POST" action="/">
                {%for x in pol%}
                <option value= "{{x}}" SELECTED>{{x}}</option>
                {% endfor %}
            </select>
            <input type="submit" name="submit" id="">
        </form>
    </body>
</html>
{% endblock content %}